.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text);
}

.title {
  font-size: 32px;
  font-weight: 600;
}

.desc {
  padding-top: 10px;
  font-weight: 200;
}

.social {
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.social a:not(:last-child) {
  margin-right: 10px;
}

.twt {
  color: #1da1f2;
}
.git {
  color: var(--text);
}
.so {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(1, 42%, 49%);
  color: var(--text);
}