/* Index page のスタイル */
.wrapper {
  padding-top: 300px;
  color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 真ん中の名前 */
.title {
  font-size: 32px;
  font-weight: 600;
}

/* 名前下の文章 */
.desc {
  padding-top: 10px;
  font-weight: 200;
}
