@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('./root.css');

body {
    font-family: 'Roboto', 'M PLUS 1p', sans-serif;
    background-color: var(--base);
}

/* ヘッダー */
header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    min-height: 80px;
    padding: 30px 30px 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}

.icon_wrapper {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid var(--main);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.right_content {
    display: flex;
    flex-wrap: wrap;
}

.right_content a {
    font-size: 1.2em;
    font-weight: 600;
    color: var(--main);
}

.right_content a:not(:nth-child(n + 3)) {
    padding-right: 15px;
}

main { 
    min-height: calc(100vh - 110px);
    min-height: calc(100dvh - 110px);
}

footer {
    height: 30px;
    display: flex;
    justify-content: center;
    color: var(--main);
    font-weight: 100;
    font-size: 14px;
}